@model IEnumerable<SalesInformationSystem.Models.CartItems>

@{
	ViewData["Title"] = "DisplayCartItems";
}

>h1>your Items in the cart</h1>

<table class="table"
	<theard>
		<tr>
			<th>@Html.DisplayNameFor(model => model.ItemId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Quantity)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DataCreated)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Product.ProductPrice)
			</th>
			<th>
				Total Amount
			</th>
		</tr>
	</theard>
	<tbody>
		@{
			var OverallTotal = 0.0;
		}
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayNameFor(modelitem => item.ItemId)
				</td>
				<td>
					@Html.DisplayNameFor(modelitem => item.Quantity)
				</td>
				<td>
					@Html.DisplayNameFor(modelitem => item.DataCreated)
				</td>
				<td>
					@Html.DisplayNameFor(modelitem => item.Price)
				</td>
				<td>
					@{
						var tamount = item.Quantity = item.Price;
						OverallTotal = OverallTotal + tamount;
					}
					@tamount.ToString("C2")
				</td>
			</tr>
		}
	</tbody>
	</table>
	<br />
	<br />
	<h1>The total amount of orders is:@OverallTotal.ToString("C2")</h1>